In [2]:
%%time
%matplotlib inline
from pandas import read_csv
from datetime import datetime

CPU times: user 444 ms, sys: 192 ms, total: 636 ms
Wall time: 506 ms

In [3]:
def parse(x):
    return datetime.strptime(x,'%Y %m %d %H')

In [4]:
dataset = read_csv('data/PRSA.csv',parse_dates=[['year','month','day','hour']],index_col=0,date_parser=parse)

In [5]:
dataset.head()

                     No  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
year_month_day_hour
2010-01-01 00:00:00   1    NaN   -21 -11.0  1021.0   NW   1.79   0   0
2010-01-01 01:00:00   2    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2010-01-01 02:00:00   3    NaN   -21 -11.0  1019.0   NW   6.71   0   0
2010-01-01 03:00:00   4    NaN   -21 -14.0  1019.0   NW   9.84   0   0
2010-01-01 04:00:00   5    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [6]:
dataset.index.name='date'

In [7]:
dataset.head()

                     No  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
date
2010-01-01 00:00:00   1    NaN   -21 -11.0  1021.0   NW   1.79   0   0
2010-01-01 01:00:00   2    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2010-01-01 02:00:00   3    NaN   -21 -11.0  1019.0   NW   6.71   0   0
2010-01-01 03:00:00   4    NaN   -21 -14.0  1019.0   NW   9.84   0   0
2010-01-01 04:00:00   5    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [9]:
dataset.drop('No',axis=1,inplace=True)

In [10]:
# manully specify column names
dataset.columns = ['pollution','dew','temp','press','wnd_dir','wnd_spd','snow','rain']

In [11]:
dataset.head()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-01 00:00:00        NaN  -21 -11.0  1021.0      NW     1.79     0     0
2010-01-01 01:00:00        NaN  -21 -12.0  1020.0      NW     4.92     0     0
2010-01-01 02:00:00        NaN  -21 -11.0  1019.0      NW     6.71     0     0
2010-01-01 03:00:00        NaN  -21 -14.0  1019.0      NW     9.84     0     0
2010-01-01 04:00:00        NaN  -20 -12.0  1018.0      NW    12.97     0     0

In [12]:
## NaN 替换为 0
dataset['pollution'].fillna(0,inplace=True)

In [13]:
# drop the fist 24 hours
dataset = dataset[24:]

In [14]:
dataset.head()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-02 00:00:00      129.0  -16  -4.0  1020.0      SE     1.79     0     0
2010-01-02 01:00:00      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2010-01-02 02:00:00      159.0  -11  -5.0  1021.0      SE     3.57     0     0
2010-01-02 03:00:00      181.0   -7  -5.0  1022.0      SE     5.36     1     0
2010-01-02 04:00:00      138.0   -7  -5.0  1022.0      SE     6.25     2     0

In [15]:
dataset.to_csv('data/pollution.csv')